@import url('https://fonts.googleapis.com/css?family=Sriracha');


html{
  	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.white{
  color: white !important;
}

.logo{
  font-weight: 900;
  color: white;
}

.gradient-1 {
  	background-image: linear-gradient(pink, orange);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.gradient-2 {
  	/*background: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);*/
    background-color:#007AFF; 
  	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.gradient-22 {
  /*  background: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);                                 */
  line-height: 2;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 0em;
  text-align: center;
  /*/////////MAGIC//HERE////////*/
  background: white;
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  color: #02CCBA;
  /*////////////////////////////*/
}
.gradient-22 a{
  color: white;
}

.gradient23{
/*   background: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
*/  
  background: linear-gradient(160deg, #02CCBA 0%, #AA7ECD 100%);
  line-height: 2;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 1em;
  text-align: center;
  color: white !important;
  /*/////////MAGIC//HERE////////*/
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /*////////////////////////////*/
}

.gradient-3 {
  	background: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-4 {
  	background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-5 {
  	background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-8 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(160deg, #02CCBA 0%, #AA7ECD 100%);
}

.nav-back{
  width: 100% !important;
  top: 0;
  margin: 0 auto;
  left: 0;
  height: 100px;
  position: fixed !important;
  z-index: 9998 !important;
/*  background: -moz-linear-gradient(to bottom, #282828 0, transparent 50%);
  background: -webkit-linear-gradient(to bottom, #282828 0, transparent 100%);
  background: linear-gradient(to bottom, #282828 0, transparent 100%) !important;
*/  opacity: .9;
    /*background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);  */
    background : linear-gradient(160deg, #02CCBA 0%, #AA7ECD 100%);
}

.nav{
  top: 0;
  margin: 0 auto;
  left: 0;
  position: fixed !important;
  z-index: 9999 !important;
}

.nav-post{
  height: 100px;
}

h1,h2,h3{
	text-align: center;
}

h1{
	font-weight:  900;
}

h2{
	font-family: "Sriracha";
	font-weight:  800;
	font-size: 3em;
}

h3{
	font-weight: 700;
	font-size: 2em;
}

.center{
	text-align: center;
	margin: 0 auto;
}

a{
	text-align: center;
	/*color: blue;*/
	font-weight: 700;
  text-decoration: none;
}

.nava{
  margin-left: 15px;
}


ul {
text-align: center;
}

li {
	list-style: none;
}

img{
	margin: 0 auto;
}

input{
	text-align: center;
	width: fill;
}



/* ==== TABLE ==== */

.tablediv{
	overflow-x:auto;
}

table{
	margin-left: auto;
   	margin-right: auto;
   	text-align: center;
   	align-content: center;
   	width: 100%;
}



/*  ==== POSITIONING  ==== */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}


/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

.vcenter {
  display: flex;
  align-items: center;
}


@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

